<div class="container">
    <ul class="nav nav-pills nav-justified" style="font-weight: bold; background-color: rgb(237, 237, 238);">
        <li class="nav-item" *ngFor="let step of steps; let i = index">
            <button (click)="onClick(i)"
            [disabled]="true"
                [class.active]="selectedIndex === i"
                class="nav-link py-3 text-uppercase btn-block" style="padding: 1.20em;">
                {{step.label}}
            </button>
        </li>
    </ul>
    <div>
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
      </div>
    </div>