<carousel>
    <slide>
        <img src="assets/images/hero1.jpg" alt="First Slide" style="display: block;">
    </slide>

    <slide>
        <img src="assets/images/hero2.jpg" alt="First Slide" style="display: block;">
    </slide>

    <slide>
        <img src="assets/images/hero3.jpg" alt="First Slide" style="display: block;">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex" style="justify-content: center; padding: top 10px;">
        <h1>
            Welcome to the shop !
        </h1>
    </div>
</section>