<header style="margin-top:10px ;">
    <span *ngIf="totalCount && totalCount > 0">
        Showing
        <strong>
        {{(pageNumber-1)*pageSize+1}} - 
        {{ pageNumber*pageSize
          > this.totalCount 
          ? this.totalCount 
          : pageNumber*pageSize
        }}
    </strong> of 
        <strong   style="color: rgb(14, 14, 14);">{{this.totalCount}}</strong> Results.
    </span>

    <span *ngIf="totalCount === 0"   style="color: red;">
        There are <strong> 0 </strong> Results found against this filter.
    </span>
</header>
