<div class="container" style="margin-top: 0.1%; margin-left: 5%;">
    <div *ngIf="(basket$ | async) === null">
        <p> There are no items in your basket..</p>
    </div>

    <div *ngIf="(basket$ | async)">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12" style="padding-top: 1em;">
                       <app-basket-summary
                         (decrement)="decrementItemQuantity($event)"
                         (increment)="incrementItemQuantity($event)"
                         (remove)="removeBasketItem($event)"
                       ></app-basket-summary>
                    </div>
                </div>
                <div class="row d-flex flex-row-reverse">
                    <div class="col-6 offset 6">
                        <app-order-totals></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 fa fa-check-square-o"
                            style="display:block;">
                            Proceed to
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>